html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EDF1F7;
}
@media (min-width: 1024px) {
  nav {
    border: none;
  }
}
nav .nav-section {
  width: 50%;
  padding: 14px;
  display: flex;
}
@media (min-width: 1024px) {
  nav .nav-section {
    padding: 24px 47px 24px 112px;
  }
}
nav .menu {
  width: 24px;
  height: 32px;
  padding: 7px 3px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
@media (min-width: 1024px) {
  nav .menu {
    display: none;
  }
}
nav .menu .menu-line {
  width: 100%;
  height: 2px;
  background-color: #2E3A59;
}
nav .logo-box {
  margin-right: 54px;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  nav .logo-box {
    margin-right: 120px;
  }
}
nav .logo-box .logo {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
@media (min-width: 1024px) {
  nav .logo-box .logo {
    width: 20px;
    height: 20px;
  }
}
nav .logo-box .logo .logo-1 {
  width: 65%;
  height: 45%;
  background-color: #FC3E70;
  border-radius: 4px 8px 8px 0px;
}
nav .logo-box .logo .logo-2 {
  width: 85%;
  height: 60%;
  background-color: #705DF2;
  border-radius: 0px 11px 11px 4px;
}
nav .logo-box h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2E3A59;
}
@media (min-width: 1024px) {
  nav .logo-box h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
nav ul {
  display: none;
}
@media (min-width: 1024px) {
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav ul li {
  position: relative;
}
nav ul li:not(:last-child) {
  margin-right: 48px;
}
nav ul li a {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3A59;
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #8F9BB3;
}
nav ul li .dropdown-menu {
  display: none;
  z-index: 99;
}
nav ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  padding: 14px 14px;
  border: none;
  background-color: #ffffff;
  z-index: 1;
}
nav ul li:hover .dropdown-menu ul {
  display: block;
}
nav .nav-buttons {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  nav .nav-buttons {
    padding: 24px 112px 24px 246px;
    justify-content: end;
    background: #f2eaff;
  }
}
nav .nav-buttons .search {
  position: relative;
  margin-right: 20px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-buttons .search .fa-circle-xmark {
  display: none;
}
nav .nav-buttons .search .search-input {
  display: none;
  width: 274px;
  height: 40px;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  margin: 10px 16px 10px 10px;
  padding: 10px 0px 10px 45px;
  background-color: #F7F9FC;
  border: 2px solid #E4DFFE;
  border-radius: 8px;
  outline: none;
}
@media (min-width: 1024px) {
  nav .nav-buttons .search .search-input {
    width: 136px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav .nav-buttons .search .search-input::placeholder {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8F9BB3;
}
nav .nav-buttons .search .search-input:focus + .fa-circle-xmark {
  display: inline-block;
}
@media (min-width: 1024px) {
  nav .nav-buttons .search .search-input:focus {
    width: 173px;
    transition: 0.3s ease;
  }
}
nav .nav-buttons .search i {
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  nav .nav-buttons .search i {
    position: absolute;
    top: 10px;
    left: 16px;
  }
}
nav .nav-buttons .search .active {
  display: inline-block;
  position: absolute;
  right: 19vw;
}
@media (min-width: 1024px) {
  nav .nav-buttons .search .active {
    left: initial;
    right: 5px;
  }
}
nav .nav-buttons .search p {
  display: none;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  cursor: pointer;
}
nav .nav-buttons .nav-buy-btn {
  padding: 12px 15px;
  background-color: #705DF2;
  border: none;
  border-radius: 24px;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  nav .nav-buttons .nav-buy-btn {
    margin-right: 112;
    padding: 14px 32px;
  }
}

.nav-filter {
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  height: 100vh;
  background-color: #101426;
  opacity: 0;
  transition: 0.5s ease;
  z-index: -1;
}

.responsive-nav-section {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 84vw;
  height: 100vh;
  transform: translateX(-200vw);
  transition: 0.6s ease;
  z-index: 2;
  padding: 78px 0px 0px 24px;
}
@media (min-width: 1024px) {
  .responsive-nav-section {
    display: none;
  }
}
.responsive-nav-section .xmark {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 20px;
  color: #292D32;
}
.responsive-nav-section .xmark i {
  font-size: 30px;
}
.responsive-nav-section .logo-box {
  margin-right: 54px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .responsive-nav-section .logo-box {
    margin-right: 120px;
  }
}
.responsive-nav-section .logo-box .logo {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
@media (min-width: 1024px) {
  .responsive-nav-section .logo-box .logo {
    width: 20px;
    height: 20px;
  }
}
.responsive-nav-section .logo-box .logo .logo-1 {
  width: 65%;
  height: 45%;
  background-color: #FC3E70;
  border-radius: 4px 8px 8px 0px;
}
.responsive-nav-section .logo-box .logo .logo-2 {
  width: 85%;
  height: 60%;
  background-color: #705DF2;
  border-radius: 0px 11px 11px 4px;
}
.responsive-nav-section .logo-box h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2E3A59;
}
@media (min-width: 1024px) {
  .responsive-nav-section .logo-box h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
.responsive-nav-section .features {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3A59;
}
.responsive-nav-section .nav-line {
  width: 85%;
  height: 1px;
  margin: 32px 0px 24px;
  background-color: #EDF1F7;
}
.responsive-nav-section a {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3A59;
}
.responsive-nav-section h3 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  color: #8F9BB3;
}
.responsive-nav-section ul li {
  margin-bottom: 16px;
}

.search-section {
  padding: 24px 18px;
  background-color: #ffffff;
  position: absolute;
  width: 100vw;
  height: 99vh;
  top: 70px;
  transform: translateX(-100vw);
  transition: 0.4s ease;
  z-index: 1;
}
.search-section h4 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #705DF2;
  margin-bottom: 6px;
}
.search-section h3 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.search-section h3 span {
  background-color: #E4DFFE;
}
.search-section h3:not(:last-child) {
  margin-bottom: 32px;
}

.header {
  position: relative;
  height: 125%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 100%;
  padding: 56px 16px 59px 16px;
  background: linear-gradient(180deg, #EDE2FF 0%, #FAECFF 100%);
  backdrop-filter: blur(50px);
  margin-bottom: 150px;
}
@media (min-width: 1024px) {
  .header {
    padding: 0;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 50% 50%;
    margin-bottom: 0;
    background: transparent;
  }
}
.header .header-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
}
@media (min-width: 1024px) {
  .header .header-h1 {
    margin-bottom: 32px;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    padding: 100px 154px 0 112px;
  }
}
.header .header-h1 h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2E3A59;
}
@media (min-width: 1024px) {
  .header .header-h1 h1 {
    font-size: 58px;
    line-height: 72px;
  }
}
.header .image-1 {
  display: flex;
  justify-content: center;
  align-items: start;
  grid-row: 2/3;
  grid-column: 1/3;
}
@media (min-width: 1024px) {
  .header .image-1 {
    justify-content: start;
    align-items: center;
    grid-row: 1/4;
    grid-column: 2/3;
  }
}
.header .image-1 .header-img-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  background: #f2eaff;
}
@media (min-width: 1024px) {
  .header .image-1 .header-img-container {
    align-items: start;
  }
}
.header .image-1 .header-img-container .header-img {
  width: 90%;
  background: #FCF8FF;
  box-shadow: 0px 10px 29px rgba(25, 17, 116, 0.08), inset -2.42623px -2.42623px 2.42623px rgba(168, 155, 255, 0.16), inset 2.42623px 2.42623px 2.42623px rgba(255, 255, 255, 0.24);
  border-radius: 10px;
  padding: 5px;
}
@media (min-width: 1024px) {
  .header .image-1 .header-img-container .header-img {
    width: 70%;
    margin-top: 100px;
  }
}
.header .image-1 .header-img-container .header-img img {
  width: 100%;
}
.header .image-1 .calendar-box {
  position: absolute;
  top: 55%;
  left: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 22px;
  background-color: #705DF2;
  box-shadow: inset -3.33333px -3.33333px 3.33333px rgba(39, 29, 140, 0.24), inset 3.33333px 3.33333px 3.33333px rgba(255, 255, 255, 0.24);
  border-radius: 13.3333px;
}
@media (min-width: 1024px) {
  .header .image-1 .calendar-box {
    top: 66%;
    left: 48%;
  }
}
.header .image-1 .people-box {
  position: absolute;
  top: 52%;
  right: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 22px;
  background-color: #FBF7FF;
  box-shadow: 0px 13.3333px 26.6667px rgba(59, 46, 174, 0.08), inset -3.33333px -3.33333px 3.33333px rgba(39, 29, 140, 0.08), inset 3.33333px 3.33333px 3.33333px rgba(255, 255, 255, 0.24);
  border-radius: 13.3333px;
}
@media (min-width: 1024px) {
  .header .image-1 .people-box {
    top: 75%;
    right: 22%;
  }
}
.header .image-1 .card-box {
  position: absolute;
  top: 47%;
  right: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 22px;
  background-color: #FBF7FF;
  box-shadow: 0px 13.3333px 26.6667px rgba(59, 46, 174, 0.08), inset -3.33333px -3.33333px 3.33333px rgba(39, 29, 140, 0.08), inset 3.33333px 3.33333px 3.33333px rgba(255, 255, 255, 0.24);
  border-radius: 13.3333px;
}
@media (min-width: 1024px) {
  .header .image-1 .card-box {
    top: 65%;
    right: 14%;
  }
}
.header .header-p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 1/3;
}
@media (min-width: 1024px) {
  .header .header-p {
    display: inline-block;
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: left;
    padding: 0 154px 0 112px;
  }
}
.header .header-p p {
  margin: 0px 16px 20px;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
}
@media (min-width: 1024px) {
  .header .header-p p {
    width: 83%;
    margin: 0 0 60px 0;
  }
}
.header .header-p .header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 48px;
  background-color: #FF3D71;
  border: none;
  border-radius: 24px;
  filter: drop-shadow(0px 16px 24px rgba(59, 46, 174, 0.08));
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}
.header .header-p .header-btn img {
  margin-left: 12px;
}

* {
  box-sizing: border-box;
}

.booknetic {
  position: relative;
  background-color: #705DF2;
  padding: 64px 40px 260px;
}
@media (min-width: 1024px) {
  .booknetic {
    display: flex;
    justify-content: center;
    padding: 80px 112px 30px;
  }
}
.booknetic h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .booknetic h1 {
    text-align: left;
  }
}
.booknetic h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  color: #ffffff;
  margin-bottom: 56px;
}
@media (min-width: 1024px) {
  .booknetic h2 {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .booknetic h2 {
    text-align: left;
    margin-bottom: 32px;
    width: 90%;
  }
}
.booknetic h4 {
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  color: #ffffff;
  text-align: left;
  width: 65%;
  display: none;
}
@media (min-width: 1024px) {
  .booknetic h4 {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  .booknetic .booknetic-header1 {
    display: none;
  }
}
.booknetic .booknetic-header2 {
  display: none;
}
@media (min-width: 1024px) {
  .booknetic .booknetic-header2 {
    display: inline-block;
    margin-top: 120px;
  }
}
@media (min-width: 1024px) {
  .booknetic .swiper-container {
    margin-right: 115px;
    margin-bottom: 90px;
  }
}
.booknetic .swiper-container .swiper-wrapper {
  width: 40vw;
}
@media (min-width: 1024px) {
  .booknetic .swiper-container .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  width: 280px;
  height: 440px;
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-logo {
  position: absolute;
  top: 10px;
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 32.81%, rgba(0, 0, 0, 0.02) 100%), linear-gradient(180deg, #6683E7 0%, #4968D7 100%);
  background-blend-mode: soft-light, normal;
  box-shadow: inset -0.74921px -0.74921px 0.74921px rgba(0, 0, 0, 0.05), inset 0.74921px 0.74921px 0.74921px rgba(255, 255, 255, 0.2);
  border-radius: 20.8696px;
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-logo .slide-img {
  width: 80%;
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-logo.Union {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 32.81%, rgba(0, 0, 0, 0.02) 100%), linear-gradient(180deg, #FFA25F 0%, #FFA458 100%);
  background-blend-mode: soft-light, normal;
  box-shadow: inset -0.749209px -0.749209px 0.749209px rgba(0, 0, 0, 0.05), inset 0.749209px 0.749209px 0.749209px rgba(255, 255, 255, 0.2);
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-logo.test {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 32.81%, rgba(0, 0, 0, 0.02) 100%), linear-gradient(180deg, #8FDEA5 0%, #89E2B7 100%);
  background-blend-mode: soft-light, normal;
  box-shadow: inset -0.749209px -0.749209px 0.749209px rgba(0, 0, 0, 0.05), inset 0.749209px 0.749209px 0.749209px rgba(255, 255, 255, 0.2);
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-logo.untitled {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 32.81%, rgba(0, 0, 0, 0.02) 100%), linear-gradient(180deg, #E2BDFF 0%, #DBB0FD 100%);
  background-blend-mode: soft-light, normal;
  box-shadow: inset -0.749209px -0.749209px 0.749209px rgba(0, 0, 0, 0.05), inset 0.749209px 0.749209px 0.749209px rgba(255, 255, 255, 0.2);
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-box {
  background-color: #FFF;
  border-radius: 24px;
  padding: 80px 30px 34px;
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-box h3 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 24px;
}
.booknetic .swiper-container .swiper-wrapper .swiper-slide .slide-box p {
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
}
@media (min-width: 1024px) {
  .booknetic .swiper-container .swiper-wrapper .swiper-slide2, .booknetic .swiper-container .swiper-wrapper .swiper-slide4 {
    margin-top: 60px;
    margin-left: 30px;
  }
}
@media (min-width: 1024px) {
  .booknetic .swiper-container .swiper-wrapper .swiper-slide4 {
    margin-top: 60px;
  }
}
.booknetic .swiper-container .swiper-button-next,
.booknetic .swiper-container .swiper-button-prev {
  display: none;
}
.booknetic .booknetic-icon1 {
  position: absolute;
  bottom: 15%;
  right: 15%;
}
@media (min-width: 1024px) {
  .booknetic .booknetic-icon1 {
    bottom: 39%;
    right: 25%;
  }
}
.booknetic .booknetic-icon2 {
  position: absolute;
  bottom: 8%;
  left: 15%;
}
@media (min-width: 1024px) {
  .booknetic .booknetic-icon2 {
    bottom: 18%;
    right: 38%;
    left: initial;
  }
}

* {
  box-sizing: border-box;
}

.group-1 {
  padding: 56px 16px 88px;
  text-align: center;
}
@media (min-width: 1024px) {
  .group-1 {
    padding: 80px 262px 182px;
  }
}
.group-1 h3 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
}
.group-1 h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 48px;
}
@media (min-width: 1024px) {
  .group-1 h2 {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .group-1 h2 {
    font-family: "Euclid Circular A", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
  }
}
.group-1 h2 span {
  color: #FF3D71;
}
.group-1 .wrapper {
  width: 100%;
}
.group-1 .wrapper .slider {
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0 10px 22px -10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (min-width: 1024px) {
  .group-1 .wrapper .slider {
    width: initial;
    background-color: transparent;
    box-shadow: none;
    overflow: initial;
  }
}
.group-1 .wrapper .slider .slide {
  height: 60px;
  display: flex;
  align-items: center;
  animation: slideshow 8s linear infinite;
}
@media (min-width: 1024px) {
  .group-1 .wrapper .slider .slide {
    animation: none;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .group-1 .wrapper .slider .slide:last-child {
    display: none;
  }
}
.group-1 .wrapper .slider .slide img {
  width: 100px;
  margin-right: 20px;
}
@media (min-width: 1024px) {
  .group-1 .wrapper .slider .slide img:not(:last-child) {
    margin: 56px;
  }
}
.group-1 .wrapper .slider::before, .group-1 .wrapper .slider::after {
  position: absolute;
  content: "";
  background: linear-gradient(to rigth, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.group-1 .wrapper .slider::before {
  left: 0px;
  top: 0px;
  transform: rotateZ(180deg);
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.integrations h1 {
  color: black;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
}
.integrations h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .integrations h2 {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .integrations h2 {
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .integrations .owl-carousel {
    display: none;
  }
}
.integrations .owl-carousel .owl-slide {
  height: 432px;
  background: #FFFFFF;
  box-shadow: 0px 16px 48px rgba(59, 46, 174, 0.08);
  border-radius: 24px;
  padding: 24px 24px 48px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.integrations .owl-carousel .owl-slide:nth-child(odd) {
  margin-right: 20px;
}
.integrations .owl-carousel .owl-slide img {
  width: 20% !important;
  border-radius: 16px;
  padding: 12px;
  margin-bottom: 32px;
}
.integrations .owl-carousel .owl-slide .owl-1 {
  background-color: #00D6D6;
}
.integrations .owl-carousel .owl-slide .owl-2 {
  background-color: #FFAA00;
}
.integrations .owl-carousel .owl-slide .owl-3 {
  background-color: #FF3D71;
}
.integrations .owl-carousel .owl-slide .owl-4 {
  background-color: #9585F7;
}
.integrations .owl-carousel .owl-slide h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  text-align: left;
  margin-bottom: 24px;
}
.integrations .owl-carousel .owl-slide p {
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  color: #2E3A59;
  text-align: left;
}
.integrations .owl-carousel .owl-dots button span {
  background-color: #E4DFFE !important;
}
.integrations .owl-carousel .owl-dots button.active span {
  background-color: #705DF2 !important;
}
.integrations .card-slider {
  display: none;
}
@media (min-width: 1024px) {
  .integrations .card-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
  }
}
.integrations .card-slider .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.integrations .card-slider .card-container:not(:last-child) {
  margin-bottom: 40px;
}
.integrations .card-slider .card-container .card-box {
  width: 29%;
  height: 332px;
  background: #FFFFFF;
  box-shadow: 0px 16px 48px rgba(59, 46, 174, 0.08);
  border-radius: 24px;
  padding: 24px 24px 48px;
  text-align: left;
}
.integrations .card-slider .card-container .card-box:not(:last-child) {
  margin-right: 32px;
}
.integrations .card-slider .card-container .card-box img {
  border-radius: 16px;
  padding: 12px;
  margin-bottom: 32px;
}
.integrations .card-slider .card-container .card-box .owl-1 {
  background-color: #00D6D6;
}
.integrations .card-slider .card-container .card-box .owl-2 {
  background-color: #FFAA00;
}
.integrations .card-slider .card-container .card-box .owl-3 {
  background-color: #FF3D71;
}
.integrations .card-slider .card-container .card-box .owl-4 {
  background-color: #9585F7;
}
.integrations .card-slider .card-container .card-box h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 24px;
  text-align: left;
}
.integrations .card-slider .card-container .card-box p {
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  text-align: left;
}

.features {
  width: 100%;
  padding: 55px 16px 72px;
}
@media (min-width: 1024px) {
  .features {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 88px 112px 80px;
  }
}
.features .cub {
  display: none;
}
@media (min-width: 1024px) {
  .features .cub {
    display: inline-block;
    position: absolute;
    top: 177px;
    right: 102px;
  }
}
.features h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
}
.features h2 {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
}
@media (min-width: 1024px) {
  .features h2 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
  }
}
.features h4 {
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  margin-bottom: 48px;
}
@media (min-width: 1024px) {
  .features h4 {
    width: 44%;
    margin-bottom: 112px;
  }
}
.features .features-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .features .features-box {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.features .features-box:not(:last-child) {
  margin-bottom: 80px;
}
@media (min-width: 1024px) {
  .features .features-box:not(:last-child) {
    margin-bottom: 140px;
  }
}
.features .features-box:last-child {
  margin-bottom: 72px;
}
@media (min-width: 1024px) {
  .features .features-box:last-child {
    margin-bottom: 124px;
  }
}
.features .features-box .features-img {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 16px 80px rgba(112, 93, 242, 0.08);
  border-radius: 8px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .features .features-box .features-img {
    width: 45%;
    margin-bottom: 0;
    margin-right: 132px;
  }
}
.features .features-box .features-img .f-image {
  position: relative;
  width: 70%;
  z-index: 1;
}
.features .features-box .features-img .f-image2 {
  position: absolute;
  width: 40%;
  bottom: 0;
  right: 0;
}
.features .features-box .features-image-2 {
  width: 100%;
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 16px 80px rgba(112, 93, 242, 0.08);
  border-radius: 8px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .features .features-box .features-image-2 {
    width: 50%;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .features .features-box .features-image-2 {
    order: 2;
    margin-bottom: 0;
    margin-left: 132px;
  }
}
.features .features-box .features-image-2 img {
  width: 100%;
}
.features .features-box .features-image-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 16px 80px rgba(112, 93, 242, 0.08);
  border-radius: 8px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .features .features-box .features-image-3 {
    width: 45%;
    margin-bottom: 0;
    margin-right: 132px;
  }
}
.features .features-box .features-image-3 img {
  width: 100%;
  border-radius: 8px;
}
.features .features-box .features-image-4 {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 16px 80px rgba(112, 93, 242, 0.08);
  border-radius: 8px;
  padding-bottom: 54px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .features .features-box .features-image-4 {
    width: 50%;
    margin-bottom: 78px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .features .features-box .features-image-4 {
    order: 2;
    margin-bottom: 0;
    margin-left: 132px;
  }
}
.features .features-box .features-image-4 .features-phone {
  width: 40%;
  position: absolute;
  bottom: 13px;
  right: 24px;
}
.features .features-box .features-image-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 16px 80px rgba(112, 93, 242, 0.08);
  border-radius: 8px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .features .features-box .features-image-5 {
    width: 45%;
    margin-bottom: 0;
    margin-right: 132px;
  }
}
.features .features-box .features-image-5 img {
  width: 100%;
  border-radius: 8px;
}
.features .features-box .features-text {
  width: 100%;
}
@media (min-width: 1024px) {
  .features .features-box .features-text {
    width: 50%;
  }
}
.features .features-box .features-text h3 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2E3A59;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .features .features-box .features-text h3 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 32px;
  }
}
.features .features-box .features-text p {
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  text-align: left;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .features .features-box .features-text p {
    margin-bottom: 32px;
  }
}
.features .features-box .features-text .features-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5343D0;
  border-radius: 50px;
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  border: none;
  padding: 14px 32px;
  color: #ffffff;
  cursor: pointer;
}
.features .features-box .features-text .features-btn img {
  margin-left: 15px;
}
@media (min-width: 1024px) {
  .features .features-box .features-text-1 h3 {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-1 p {
    width: 77%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-2 h3 {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-2 p {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-3 h3 {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-3 p {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-4 h3 {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-4 p {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-5 h3 {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .features .features-box .features-text-5 p {
    width: 75%;
  }
}
.features .features-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #705DF2;
  border-radius: 50px;
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  color: #705DF2;
  width: 100%;
  padding: 14px 0px;
}
@media (min-width: 1024px) {
  .features .features-btn1 {
    width: initial;
    padding: 14px 32px;
  }
}

.testiomonials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 56px 16px 64px;
  background-color: #C9BFFD;
  margin-bottom: 56px;
}
@media (min-width: 1024px) {
  .testiomonials {
    position: relative;
    padding: 72px 320px 160px;
    margin-bottom: 72px;
  }
}
.testiomonials .testiomonials-slide {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s linear;
}
.testiomonials .testiomonials-slide h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
  color: #FC3E70;
  margin-bottom: 16px;
}
.testiomonials .testiomonials-slide h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 56px;
}
@media (min-width: 1024px) {
  .testiomonials .testiomonials-slide h2 {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .testiomonials .testiomonials-slide h2 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 64px;
  }
}
.testiomonials .testiomonials-slide .slide-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 32.81%, rgba(0, 0, 0, 0.02) 100%), linear-gradient(180deg, #FFE8A5 0%, #FFE494 100%);
  background-blend-mode: soft-light, normal;
  box-shadow: inset -0.936512px -0.936512px 0.936512px rgba(0, 0, 0, 0.05), inset 0.936512px 0.936512px 0.936512px rgba(255, 255, 255, 0.2);
  border-radius: 26.087px;
  margin-bottom: 48px;
  padding: 12px 26px;
}
@media (min-width: 1024px) {
  .testiomonials .testiomonials-slide .slide-img {
    margin-bottom: 60x;
    padding: 14px 30px;
  }
}
.testiomonials .testiomonials-slide p {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
  color: #2E3A59;
  margin-bottom: 64px;
}
@media (min-width: 1024px) {
  .testiomonials .testiomonials-slide p {
    width: 63%;
    margin-bottom: 0;
  }
}
.testiomonials .active {
  display: flex;
  opacity: 1;
}
.testiomonials .slider-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testiomonials .slider-btn .left-btn {
  background-color: #E4DFFE;
  border-radius: 50%;
  padding: 21px 20px;
  margin-right: 64px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .testiomonials .slider-btn .left-btn {
    position: absolute;
    top: 50%;
    left: 10%;
  }
}
.testiomonials .slider-btn .rigth-btn {
  background-color: #E4DFFE;
  border-radius: 50%;
  padding: 21px 20px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .testiomonials .slider-btn .rigth-btn {
    position: absolute;
    top: 50%;
    right: 10%;
  }
}

.busines-type {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 16px;
  margin-bottom: 200px;
}
.busines-type h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
}
.busines-type h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .busines-type h2 {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .busines-type h2 {
    margin-bottom: 42px;
  }
}
.busines-type .type-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 4px;
}
.busines-type .type-box:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 1024px) {
  .busines-type .type-box:not(:last-child) {
    margin-bottom: 24px;
  }
}
.busines-type .type-box .type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
  padding: 24px 67px;
  border-radius: 8px;
}
@media (min-width: 1024px) {
  .busines-type .type-box .type {
    width: 30%;
    height: 100%;
  }
}
.busines-type .type-box .type:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 1024px) {
  .busines-type .type-box .type:not(:last-child) {
    margin-right: 32px;
    margin-bottom: 0;
  }
}
.busines-type .type-box .type img {
  width: 100%;
}
.busines-type .type-box .type .type-3 {
  width: 60%;
}
.busines-type .type-box .type .type-5 {
  width: 90%;
}
.busines-type .type-box .type .type-7 {
  width: 42%;
}
.busines-type .type-box .type .type-8 {
  width: 70%;
}
.busines-type .type-box .type p {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 34px;
}

.type-box-1 .type:nth-child(1) {
  background-color: #FFF2F2;
}
.type-box-1 .type:nth-child(2) {
  background-color: #C9BFFD;
}
.type-box-1 .type:nth-child(3) {
  background-color: #F2F8FF;
}

.type-box-2 .type:nth-child(1) {
  background-color: #F0FFF5;
}
.type-box-2 .type:nth-child(2) {
  background-color: #FFFDF2;
}
.type-box-2 .type:nth-child(3) {
  background-color: #FFF2F2;
}

.type-box-3 .type:nth-child(1) {
  background-color: #E4DFFE;
}
.type-box-3 .type:nth-child(2) {
  background-color: #F2F8FF;
}
.type-box-3 .type:nth-child(3) {
  background-color: #F0FFF5;
}

* {
  box-sizing: border-box;
}

.faq {
  padding: 14px 16px 64px;
  margin-bottom: 45px;
}
@media (min-width: 1024px) {
  .faq {
    background: linear-gradient(180deg, #EDE2FF 0%, #FAECFF 100%);
    backdrop-filter: blur(50px);
    padding: 64px 320px;
  }
}
.faq h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
}
.faq h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 48px;
}
@media (min-width: 1024px) {
  .faq h2 {
    font-size: 48px;
    line-height: 64px;
  }
}
.faq .faq-text-section {
  padding-bottom: 25px;
  border-bottom: 2px solid #E4DFFE;
}
.faq .faq-text-section:not(:last-child) {
  margin-bottom: 25px;
}
.faq .faq-text-section .faq-header-text {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.faq .faq-text-section .faq-header-text h5 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3A59;
  margin-right: 25px;
}
.faq .faq-text-section .faq-header-text img {
  cursor: pointer;
}
.faq .faq-text-section .faq-header-text .active {
  transform: rotate(180deg);
  transition: 0.3s ease;
}
.faq .faq-text-section .faq-answer {
  display: none;
  overflow: hidden;
  margin: 16px 0px 0px 32px;
}
@media (min-width: 1024px) {
  .faq .faq-text-section .faq-answer {
    margin: 24px 106px 0px 0px;
  }
}
.faq .faq-text-section .faq-answer p {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
}
.faq .faq-text-section .show {
  display: inline-block;
}

.customers {
  padding: 35px 16px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .customers {
    padding: 95px 112px 120px;
  }
}
.customers > h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FC3E70;
  text-align: center;
  margin-bottom: 16px;
}
.customers h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .customers h2 {
    font-size: 48px;
    line-height: 64px;
  }
}
.customers h4 {
  text-align: center;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E3A59;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .customers h4 {
    width: 50%;
  }
}
.customers .customers-container-row {
  width: 100%;
}
@media (min-width: 1024px) {
  .customers .customers-container-row {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
@media (min-width: 1024px) {
  .customers .customers-container-row .customers-container-col {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .customers .customers-container-row .customers-container-col:not(:last-child) {
    margin-right: 32px;
  }
}
@media (max-width: 1023px) {
  .customers .customers-container-row .customers-container-col:not(:first-child) {
    display: none;
  }
}
.customers .customers-container-row .customers-container-col .customers-box {
  width: 100%;
  border: 2px solid #F2F2F2;
  border-radius: 4px;
  padding: 16px;
}
@media (min-width: 1024px) {
  .customers .customers-container-row .customers-container-col .customers-box {
    padding: 24px;
  }
}
.customers .customers-container-row .customers-container-col .customers-box:first-child {
  margin-bottom: 32px;
}
@media (max-width: 1023px) {
  .customers .customers-container-row .customers-container-col .customers-box:not(:first-child) {
    display: none;
  }
}
.customers .customers-container-row .customers-container-col .customers-box .customers-logo {
  margin-bottom: 32px;
}
.customers .customers-container-row .customers-container-col .customers-box p {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3A59;
  margin-bottom: 16px;
}
.customers .customers-container-row .customers-container-col .customers-box .customers-img {
  width: 100%;
}
.customers .customers-container-row .customers-container-col .customers-box .customer-profile {
  display: flex;
  margin-bottom: 34px;
}
.customers .customers-container-row .customers-container-col .customers-box .customer-profile img {
  margin-right: 16px;
}
.customers .customers-container-row .customers-container-col .customers-box .customer-profile .profile-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.customers .customers-container-row .customers-container-col .customers-box .customer-profile .profile-text h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3A59;
  margin-bottom: 4px;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: #0D0659;
}
footer .footer-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 56px 16px 24px;
}
@media (min-width: 1024px) {
  footer .footer-header {
    padding: 72px 112px 72px;
  }
}
footer .footer-header h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  footer .footer-header h1 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 32px;
  }
}
footer .footer-header p {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  footer .footer-header p {
    width: 40%;
    margin-bottom: 48px;
  }
}
footer .footer-header .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  border: none;
  background-color: #ffffff;
  border-radius: 16px;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #705DF2;
  cursor: pointer;
}
@media (min-width: 1024px) {
  footer .footer-header .footer-btn {
    width: initial;
    padding: 20px 40px;
  }
}
footer .footer-header .footer-btn img {
  margin-left: 6px;
}
footer .footer-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
}
footer .footer-link {
  padding: 50px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  footer .footer-link {
    padding: 56px 112px 72px;
    flex-direction: row;
    align-items: start;
  }
}
footer .footer-link .footer-link-logo {
  margin-bottom: 64px;
}
@media (min-width: 1024px) {
  footer .footer-link .footer-link-logo {
    margin-bottom: 0;
  }
}
footer .footer-link .footer-link-logo .logo-box {
  justify-content: center;
  margin-right: 54px;
  display: flex;
  align-items: center;
  margin: 0px 0px 16px;
}
@media (min-width: 1024px) {
  footer .footer-link .footer-link-logo .logo-box {
    margin-right: 120px;
  }
}
footer .footer-link .footer-link-logo .logo-box .logo {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
@media (min-width: 1024px) {
  footer .footer-link .footer-link-logo .logo-box .logo {
    width: 20px;
    height: 20px;
  }
}
footer .footer-link .footer-link-logo .logo-box .logo .logo-1 {
  width: 65%;
  height: 45%;
  background-color: #FC3E70;
  border-radius: 4px 8px 8px 0px;
}
footer .footer-link .footer-link-logo .logo-box .logo .logo-2 {
  width: 85%;
  height: 60%;
  background-color: #705DF2;
  border-radius: 0px 11px 11px 4px;
}
footer .footer-link .footer-link-logo .logo-box h1 {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2E3A59;
}
@media (min-width: 1024px) {
  footer .footer-link .footer-link-logo .logo-box h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1024px) {
  footer .footer-link .footer-link-logo .logo-box {
    justify-content: start;
    margin-bottom: 32px;
  }
}
footer .footer-link .footer-link-logo .logo-box .logo {
  width: 40px;
  height: 40px;
}
footer .footer-link .footer-link-logo .logo-box h1 {
  font-size: 24px;
  color: #ffffff;
}
footer .footer-link .footer-link-logo p {
  display: none;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E4E9F2;
}
@media (min-width: 1024px) {
  footer .footer-link .footer-link-logo p {
    display: inline-block;
    width: 50%;
  }
}
footer .footer-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 56px;
}
@media (min-width: 1024px) {
  footer .footer-link ul {
    margin-bottom: 0;
    justify-content: start;
    align-items: start;
  }
}
@media (min-width: 1024px) {
  footer .footer-link ul:not(:last-child) {
    margin-right: 195px;
  }
}
footer .footer-link ul li {
  margin-bottom: 10px;
}
footer .footer-link ul li:first-child {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 32px;
}
footer .footer-link ul li:not(:first-child) {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
footer .footer-link ul li a {
  color: #E4E9F2;
}
footer .footer-end {
  padding: 32px 16px 24px;
}
@media (min-width: 1024px) {
  footer .footer-end {
    padding: 24px 112px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
footer .footer-end .footer-end-text {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E4E9F2;
}
footer .footer-end .footer-end-text i {
  font-size: 18px;
  margin: 10px;
}
footer .footer-end .footer-end-text p {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
footer .footer-end .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  footer .footer-end .footer-social {
    margin-bottom: 0px;
  }
}
footer .footer-end .footer-social a:not(:last-child) {
  margin-right: 20px;
}

body {
  overflow-x: hidden;
}

.nav-section {
  display: flex;
}/*# sourceMappingURL=style.css.map */