$basic-100: #ffffff;
$basic-200: #F7F9FC;
$basic-300: #EDF1F7;
$basic-400: #E4E9F2;
$basic-600: #8F9BB3;
$basic-700: #2E3A59;
$basic-1100: #101426;
$violet-100: #E4DFFE;
$violet-200: #C9BFFD;
$violet-400: #9585F7;
$violet-500: #705DF2;
$danger-100: #FFF2F2;
$danger-400: #FC3E70;
$danger-500: #FF3D71;
$info-100: #F2F8FF;
$success-100: #F0FFF5;
$warning-100: #FFFDF2;
$warning-500: #FFAA00;