@mixin Euclid-100{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 100;
}

@mixin Euclid-200{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 200;
}

@mixin Euclid-300{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 300;
}

@mixin Euclid-400{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 400;
}

@mixin Euclid-500{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
}

@mixin Euclid-600{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 600;
}

@mixin Euclid-700{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 700;
}

@mixin Euclid-800{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 800;
}

@mixin Euclid-900{
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 900;
}